/* Global style */
body {
    background: linear-gradient(to bottom, #add8e6, #ffffff);
    font-family: Arial;
    text-align: center;
    padding-top: 50px;
}

h1 {
    font-size: 3em;
    color: #000;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

/* Form & input */
input[type="password"],
input[type="text"],
input[type="submit"] {
    font-size: 1.2em;
    padding: 12px;
    margin: 10px;
    border: 2px solid black;
    background: #ffffe0;
    border-radius: 15px;
}

/* Password toggle icon */
.password-wrapper {
    position: relative;
    display: inline-block;
}

.password-wrapper input[type="password"],
.password-wrapper input[type="text"] {
    padding-right: 45px; /* ruang icon mata */
}

#togglePassword {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    user-select: none;
}

/* Strength display */
.strength {
    font-size: 2em;
    font-weight: bold;
    color: navy;
}

/* Result box */
.box {
    background:
        radial-gradient(circle at 20% 80%, rgba(255,255,255,0.5) 0%, transparent 50%),
        radial-gradient(circle at 80% 20%, rgba(255,255,255,0.5) 0%, transparent 50%),
        #ffffe0;

    border: 3px solid #333;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Key information */
.key-info {
    font-size: 0.9em;
    color: #555;
    margin-top: 30px;
}

/* Encrypted textarea */
textarea {
    width: 90%;
    height: auto;
    resize: none;
    font-family: monospace;
    padding: 12px;
    border: 2px solid black;
    background: #ffffe0;
    border-radius: 15px;
}

/* Suggestions list */
.suggestions {
    text-align: left;
    display: inline-block;
}
